*{
	padding: 0;
	margin: 0;
}
ul{/*设置导航栏的框框*/		 	
	margin: 10px auto;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/		
	width: 1000px;/*框框的宽度*/
	padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
	border:1px solid #000;/*添加边框*/		}		
li{
	list-style-type: none;/* 去掉li前的点 */
	float: left;/*将li设置成做浮动，变为联动*/		
}		
a{
	display: block;/*将a变成块状*/
	width: 500px;/*设置块的宽度*/
	height: 50px;/*设置块的长度*/
	font-family: Microsoft Yahei;
	line-height: 50px;/*设置字体在块中的高度*/
	background-color: #90EE90;
	margin: 0px 0px;/*块里的高宽通过margin设置*/
	color: #fff;
	text-align: center;/*字体居中*/
	text-decoration: none;/*去掉下划线*/
	font-size: 15px;		
}		
a:hover{
	background-color: #32CD32;		
}


form{
	width: 1000px;
	margin : 50px auto;
}
.wff{
	height: 20px;
	width: 300px;
}
div{
	width: 1000px;
	margin: 10px;
}
div.tips{
	line-height: 25px;

}